In [1]:
import pandas as pd
import sqlite3
from sqlalchemy import create_engine
import re

### Read data from CSV

In [2]:
# read the crime rates
df_cr = pd.read_csv('Crime_Rate_Per_State.csv', encoding='utf-8')
# read the income rates
df_ir = pd.read_csv('Household_Income.csv', encoding='utf-8')

In [3]:
df_cr.head(5)

,State,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,Alabama,4.86,4.38,4.45,4.29,4.27,4.33,4.25,4.49,4.53,4.50,3.84,4.20,4.50,4.31,4.27
1,Alaska,5.67,5.90,5.65,5.98,6.32,6.32,6.88,6.61,6.52,6.33,6.35,6.10,6.04,6.39,6.36
2,Arizona,5.32,5.40,5.55,5.13,5.04,5.12,5.43,5.18,4.86,4.27,4.14,4.14,4.29,4.16,4.00
3,Arkansas,4.45,4.52,4.25,4.56,5.02,5.28,5.53,5.37,5.13,5.16,5.04,4.82,4.70,4.63,4.80
4,California,6.22,6.15,5.95,5.80,5.28,5.26,5.34,5.24,5.04,4.73,4.40,4.11,4.24,4.03,3.96

In [4]:
df_ir.head(5)

,State,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,Alabama,3.54,3.52,3.76,3.73,3.66,3.72,3.80,4.22,4.45,4.00,4.09,4.26,4.35,4.73,4.23
1,Alaska,5.28,5.74,5.28,5.18,5.51,5.59,5.64,6.30,6.40,6.16,5.78,5.74,6.36,7.25,6.76
2,Arizona,3.98,4.27,3.97,4.12,4.38,4.52,4.67,4.72,4.69,4.57,4.69,4.86,4.70,5.26,4.93
3,Arkansas,2.97,3.33,3.24,3.20,3.50,3.67,3.71,4.08,3.96,3.65,3.86,4.13,3.90,3.94,4.49
4,California,4.68,4.73,4.74,4.93,4.92,5.18,5.53,5.57,5.70,5.61,5.43,5.34,5.70,6.08,6.05

In [5]:
df_cr.columns

Index(['State', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014'],
      dtype='object')

In [6]:
df_cr= df_cr.iloc[:,0:21]
df_cr.head()

,State,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,Alabama,4.86,4.38,4.45,4.29,4.27,4.33,4.25,4.49,4.53,4.50,3.84,4.20,4.50,4.31,4.27
1,Alaska,5.67,5.90,5.65,5.98,6.32,6.32,6.88,6.61,6.52,6.33,6.35,6.10,6.04,6.39,6.36
2,Arizona,5.32,5.40,5.55,5.13,5.04,5.12,5.43,5.18,4.86,4.27,4.14,4.14,4.29,4.16,4.00
3,Arkansas,4.45,4.52,4.25,4.56,5.02,5.28,5.53,5.37,5.13,5.16,5.04,4.82,4.70,4.63,4.80
4,California,6.22,6.15,5.95,5.80,5.28,5.26,5.34,5.24,5.04,4.73,4.40,4.11,4.24,4.03,3.96

In [7]:
# convert the float to strings for crime rates
df_cr.columns = ['State']+['Y_'+str(col) for col in df_cr.columns if col != 'State']
df_cr.columns

Index(['State', 'Y_2000', 'Y_2001', 'Y_2002', 'Y_2003', 'Y_2004', 'Y_2005',
       'Y_2006', 'Y_2007', 'Y_2008', 'Y_2009', 'Y_2010', 'Y_2011', 'Y_2012',
       'Y_2013', 'Y_2014'],
      dtype='object')

In [8]:
# convert the float to strings for income rates
df_ir.columns = ['State']+['Y_'+str(col) for col in df_ir.columns if col != 'State']
df_ir.columns

Index(['State', 'Y_2000', 'Y_2001', 'Y_2002', 'Y_2003', 'Y_2004', 'Y_2005',
       'Y_2006', 'Y_2007', 'Y_2008', 'Y_2009', 'Y_2010', 'Y_2011', 'Y_2012',
       'Y_2013', 'Y_2014'],
      dtype='object')

### Checking for missing datapoints

In [9]:
missing_data_rows = df_cr[df_cr.isnull().any(1)]
missing_data_rows

Empty DataFrame
Columns: [State, Y_2000, Y_2001, Y_2002, Y_2003, Y_2004, Y_2005, Y_2006, Y_2007, Y_2008, Y_2009, Y_2010, Y_2011, Y_2012, Y_2013, Y_2014]
Index: []

In [10]:
df_cr.head()

,State,Y_2000,Y_2001,Y_2002,Y_2003,Y_2004,Y_2005,Y_2006,Y_2007,Y_2008,Y_2009,Y_2010,Y_2011,Y_2012,Y_2013,Y_2014
0,Alabama,4.86,4.38,4.45,4.29,4.27,4.33,4.25,4.49,4.53,4.50,3.84,4.20,4.50,4.31,4.27
1,Alaska,5.67,5.90,5.65,5.98,6.32,6.32,6.88,6.61,6.52,6.33,6.35,6.10,6.04,6.39,6.36
2,Arizona,5.32,5.40,5.55,5.13,5.04,5.12,5.43,5.18,4.86,4.27,4.14,4.14,4.29,4.16,4.00
3,Arkansas,4.45,4.52,4.25,4.56,5.02,5.28,5.53,5.37,5.13,5.16,5.04,4.82,4.70,4.63,4.80
4,California,6.22,6.15,5.95,5.80,5.28,5.26,5.34,5.24,5.04,4.73,4.40,4.11,4.24,4.03,3.96

In [11]:
df_cr.columns

Index(['State', 'Y_2000', 'Y_2001', 'Y_2002', 'Y_2003', 'Y_2004', 'Y_2005',
       'Y_2006', 'Y_2007', 'Y_2008', 'Y_2009', 'Y_2010', 'Y_2011', 'Y_2012',
       'Y_2013', 'Y_2014'],
      dtype='object')

### Save to the sqlite database

In [12]:
engine = create_engine('sqlite:///../db/crime-rate.sqlite', echo=False)

In [13]:
# save the crime data into sqlite
df_cr.to_sql('crime_rates', con=engine, if_exists='replace')

In [14]:
# save the income data into sqlite
df_ir.to_sql('income_rates', con=engine, if_exists='replace')

In [15]:
engine.execute("SELECT * FROM crime_rates").fetchall()

[(0, 'Alabama', 4.86, 4.38, 4.45, 4.29, 4.27, 4.33, 4.25, 4.49, 4.53, 4.5, 3.84, 4.2, 4.5, 4.31, 4.27),
 (1, 'Alaska', 5.67, 5.9, 5.65, 5.98, 6.32, 6.32, 6.88, 6.61, 6.52, 6.33, 6.35, 6.1, 6.04, 6.39, 6.36),
 (2, 'Arizona', 5.32, 5.4, 5.55, 5.13, 5.04, 5.12, 5.43, 5.18, 4.86, 4.27, 4.14, 4.14, 4.29, 4.16, 4.0),
 (3, 'Arkansas', 4.45, 4.52, 4.25, 4.56, 5.02, 5.28, 5.53, 5.37, 5.13, 5.16, 5.04, 4.82, 4.7, 4.63, 4.8),
 (4, 'California', 6.22, 6.15, 5.95, 5.8, 5.28, 5.26, 5.34, 5.24, 5.04, 4.73, 4.4, 4.11, 4.24, 4.03, 3.96),
 (5, 'Colorado', 3.34, 3.5, 3.53, 3.47, 3.72, 3.97, 3.95, 3.52, 3.54, 3.39, 3.24, 3.14, 3.07, 3.05, 3.09),
 (6, 'Connecticut', 3.25, 3.35, 3.13, 3.17, 2.89, 2.73, 3.0, 3.01, 3.07, 3.01, 2.82, 2.76, 2.84, 2.62, 2.37),
 (7, 'Delaware', 6.84, 6.11, 6.0, 6.75, 6.15, 6.33, 7.01, 7.05, 7.09, 6.45, 6.23, 5.66, 5.51, 5.01, 4.89),
 (8, 'District of Columbia', 15.08, 16.02, 16.38, 16.25, 13.69, 13.8, 15.08, 14.15, 14.38, 13.49, 13.27, 12.01, 12.42, 12.96, 12.44),
 (9, 'Florida', 8.12, 7.98, 7.71, 7.31, 7.12, 7.09, 7.16, 7.23, 6.89, 6.13, 5.41, 5.15, 4.87, 4.69, 5.41),
 (10, 'Georgia', 5.05, 4.96, 4.6, 4.55, 4.51, 4.46, 4.78, 4.92, 4.89, 4.28, 4.02, 3.75, 3.8, 3.75, 3.77),
 (11, 'Hawaii', 2.44, 2.54, 2.63, 2.72, 2.55, 2.56, 2.81, 2.76, 2.73, 2.74, 2.64, 2.51, 2.43, 2.54, 2.59),
 (12, 'Idaho', 2.53, 2.43, 2.55, 2.46, 2.47, 2.57, 2.5, 2.56, 2.42, 2.46, 2.21, 2.02, 2.1, 2.15, 2.12),
 (13, 'Illinois', 6.54, 6.33, 6.02, 5.56, 5.46, 5.52, 5.42, 5.33, 5.25, 4.97, 4.45, 4.24, 4.16, 4.03, 3.7),
 (14, 'Indiana', 3.49, 3.71, 3.57, 3.52, 3.26, 3.24, 3.22, 3.36, 3.38, 3.34, 3.23, 3.32, 3.45, 3.6, 3.65),
 (15, 'Iowa', 2.66, 2.68, 2.86, 2.78, 2.88, 2.93, 2.86, 3.0, 2.88, 2.82, 2.69, 2.57, 2.66, 2.73, 2.74),
 (16, 'Kansas', 3.89, 4.04, 3.77, 3.98, 3.78, 3.89, 4.33, 4.59, 4.12, 4.07, 3.71, 3.56, 3.57, 3.43, 3.49),
 (17, 'Kentucky', 2.95, 2.58, 2.71, 2.49, 2.45, 2.67, 2.7, 2.91, 2.97, 2.55, 2.44, 2.4, 2.25, 2.11, 2.12),
 (18, 'Louisiana', 6.81, 6.86, 6.63, 6.37, 6.4, 5.97, 7.21, 7.4, 6.71, 6.43, 5.55, 5.55, 4.96, 5.21, 5.15),
 (19, 'Maine', 1.1, 1.12, 1.08, 1.09, 1.04, 1.12, 1.16, 1.19, 1.19, 1.2, 1.22, 1.23, 1.22, 1.33, 1.28),
 (20, 'Maryland', 7.87, 7.81, 7.71, 7.04, 7.01, 7.04, 6.79, 6.42, 6.28, 5.9, 5.46, 4.94, 4.77, 4.75, 4.46),
 (21, 'Massachusetts', 4.76, 4.78, 4.85, 4.73, 4.6, 4.61, 5.01, 4.42, 4.64, 4.63, 4.69, 4.27, 4.07, 4.06, 3.91),
 (22, 'Michigan', 5.55, 5.54, 5.41, 5.11, 4.92, 5.54, 5.64, 5.34, 5.15, 5.0, 4.93, 4.43, 4.55, 4.52, 4.27),
 (23, 'Minnesota', 2.81, 2.64, 2.67, 2.63, 2.7, 2.97, 3.11, 2.9, 2.65, 2.45, 2.36, 2.31, 2.31, 2.34, 2.29),
 (24, 'Mississippi', 3.61, 3.5, 3.44, 3.24, 2.95, 2.8, 3.12, 2.91, 3.04, 2.86, 2.69, 2.69, 2.6, 2.78, 2.79),
 (25, 'Missouri', 4.9, 5.41, 5.39, 4.91, 4.9, 5.26, 5.46, 5.61, 5.02, 4.93, 4.58, 4.48, 4.51, 4.34, 4.43),
 (26, 'Montana', 3.11, 3.52, 3.51, 3.65, 2.94, 2.82, 3.77, 3.8, 3.11, 2.87, 2.76, 2.76, 2.79, 2.88, 3.24),
 (27, 'Nebraska', 3.28, 3.03, 3.14, 2.94, 3.09, 2.87, 2.94, 3.11, 3.12, 2.89, 2.78, 2.54, 2.59, 2.65, 2.8),
 (28, 'Nevada', 5.24, 5.89, 6.39, 6.16, 6.16, 6.08, 7.49, 7.55, 7.3, 7.05, 6.63, 5.68, 6.09, 6.05, 6.36),
 (29, 'New Hampshire', 1.75, 1.7, 1.61, 1.5, 1.7, 1.35, 1.39, 1.44, 1.56, 1.6, 1.67, 2.17, 2.15, 2.23, 1.96),
 (30, 'New Jersey', 3.84, 3.89, 3.76, 3.64, 3.56, 3.55, 3.5, 3.29, 3.27, 3.11, 3.08, 3.08, 2.9, 2.89, 2.61),
 (31, 'New Mexico', 7.58, 7.8, 7.41, 6.67, 6.87, 6.46, 6.55, 6.76, 6.54, 6.32, 5.88, 5.73, 5.6, 6.23, 5.97),
 (32, 'New York', 5.54, 5.14, 4.97, 4.66, 4.4, 4.44, 4.35, 4.14, 3.98, 3.84, 3.94, 3.97, 4.06, 3.94, 3.82),
 (33, 'North Carolina', 4.98, 4.93, 4.71, 4.54, 4.48, 4.69, 4.75, 4.66, 4.68, 4.05, 3.63, 3.46, 3.54, 3.41, 3.3),
 (34, 'North Dakota', 0.81, 0.79, 0.78, 0.8, 0.88, 1.11, 1.97, 2.1, 2.25, 2.66, 2.3, 2.48, 2.46, 2.73, 2.65),
 (35, 'Ohio', 3.34, 3.51, 3.52, 3.34, 3.39, 3.5, 3.62, 3.55, 3.52, 3.32, 3.15, 3.05, 3.02, 2.91, 2.85),
 (36, 'Oklahoma', 4.98, 5.11, 5.04, 5.06, 5.01, 5.09, 5.0, 5.04, 5.32, 5.03, 4.81, 4.58, 4.74, 4.46, 4.06),
 (37, 'Oregon', 3.51, 3.07, 2.93, 2.95, 2.99, 2.87, 2.85, 2.94, 2.61, 2.61, 2.51, 2.49, 2.47, 2.43, 2.32),
 (38, 'Pennsylvania', 4.2, 4.1, 4.02, 3.98, 4.12, 4.25, 4.42, 4.17, 4.1, 3.82, 3.67, 3.62, 3.56, 3.35, 3.14),
 (39, 'Rhode Island', 2.98, 3.09, 2.86, 2.86, 2.48, 2.52, 2.3, 2.29, 2.53, 2.54, 2.57, 2.46, 2.53, 2.57, 2.19),
 (40, 'South Carolina', 8.28, 8.15, 8.23, 8.06, 7.9, 7.67, 7.71, 7.86, 7.31, 6.75, 6.02, 5.97, 5.61, 5.09, 4.98),
 (41, 'South Dakota', 1.67, 1.54, 1.78, 1.74, 1.71, 1.79, 2.65, 2.42, 2.77, 2.19, 2.69, 2.56, 3.24, 3.23, 3.27),
 (42, 'Tennessee', 7.07, 7.44, 7.18, 6.91, 6.98, 7.57, 7.63, 7.55, 7.23, 6.66, 6.12, 6.08, 6.39, 5.86, 6.08),
 (43, 'Texas', 5.45, 5.72, 5.8, 5.53, 5.41, 5.28, 5.17, 5.1, 5.08, 4.91, 4.48, 4.09, 4.09, 4.1, 4.06),
 (44, 'Utah', 2.56, 2.33, 2.37, 2.5, 2.33, 2.25, 2.26, 2.4, 2.25, 2.15, 2.14, 1.97, 2.08, 2.29, 2.16),
 (45, 'Vermont', 1.14, 1.05, 1.07, 1.14, 1.15, 1.26, 1.45, 1.29, 1.38, 1.35, 1.31, 1.48, 1.42, 1.24, 0.99),
 (46, 'Virginia', 2.82, 2.91, 2.92, 2.78, 2.76, 2.83, 2.84, 2.73, 2.58, 2.31, 2.14, 1.98, 1.92, 1.98, 1.96),
 (47, 'Washington', 3.7, 3.55, 3.46, 3.47, 3.44, 3.46, 3.49, 3.37, 3.34, 3.36, 3.14, 2.95, 2.98, 2.9, 2.85),
 (48, 'West Virginia', 3.17, 2.8, 2.34, 2.55, 2.82, 2.74, 2.81, 2.77, 2.76, 3.05, 3.01, 2.96, 3.2, 3.05, 3.02),
 (49, 'Wisconsin', 2.37, 2.31, 2.25, 2.21, 2.1, 2.42, 2.86, 2.92, 2.76, 2.59, 2.49, 2.5, 2.84, 2.81, 2.9),
 (50, 'Wyoming', 2.67, 2.58, 2.73, 2.62, 2.3, 2.3, 2.54, 2.57, 2.5, 2.2, 1.98, 2.19, 2.01, 2.08, 1.96)]

In [16]:
engine.execute("SELECT * FROM income_rates").fetchall()

[(0, 'Alabama', 3.54, 3.52, 3.76, 3.73, 3.66, 3.72, 3.8, 4.22, 4.45, 4.0, 4.09, 4.26, 4.35, 4.73, 4.23),
 (1, 'Alaska', 5.28, 5.74, 5.28, 5.18, 5.51, 5.59, 5.64, 6.3, 6.4, 6.16, 5.78, 5.74, 6.36, 7.25, 6.76),
 (2, 'Arizona', 3.98, 4.27, 3.97, 4.12, 4.38, 4.52, 4.67, 4.72, 4.69, 4.57, 4.69, 4.86, 4.7, 5.26, 4.93),
 (3, 'Arkansas', 2.97, 3.33, 3.24, 3.2, 3.5, 3.67, 3.71, 4.08, 3.96, 3.65, 3.86, 4.13, 3.9, 3.94, 4.49),
 (4, 'California', 4.68, 4.73, 4.74, 4.93, 4.92, 5.18, 5.53, 5.57, 5.7, 5.61, 5.43, 5.34, 5.7, 6.08, 6.05),
 (5, 'Colorado', 4.82, 4.94, 4.83, 4.99, 5.09, 5.04, 5.57, 6.11, 6.09, 5.59, 6.02, 5.86, 5.73, 6.79, 6.09),
 (6, 'Connecticut', 5.02, 5.33, 5.34, 5.5, 5.51, 5.68, 6.24, 6.41, 6.47, 6.49, 6.6, 6.54, 6.42, 6.93, 7.02),
 (7, 'Delaware', 5.04, 4.96, 4.97, 4.9, 4.8, 5.12, 5.24, 5.46, 5.07, 5.21, 5.52, 5.47, 4.9, 5.41, 5.75),
 (8, 'D.C.', 4.12, 4.12, 3.91, 4.5, 4.35, 4.5, 4.85, 5.08, 5.56, 5.31, 5.69, 5.53, 6.52, 6.01, 6.83),
 (9, 'Florida', 3.89, 3.64, 3.8, 3.9, 4.05, 4.3, 4.57, 4.58, 4.49, 4.56, 4.41, 4.51, 4.61, 4.85, 4.61),
 (10, 'Georgia', 4.19, 4.26, 4.29, 4.24, 4.1, 4.59, 4.93, 4.86, 4.62, 4.33, 4.41, 4.6, 4.81, 4.7, 4.96),
 (11, 'Hawaii', 5.15, 4.74, 4.73, 5.18, 5.62, 5.96, 6.05, 6.4, 6.15, 5.56, 5.95, 5.9, 5.63, 6.42, 7.12),
 (12, 'Idaho', 3.76, 3.82, 3.77, 4.24, 4.44, 4.42, 4.62, 4.92, 4.74, 4.68, 4.71, 4.75, 4.79, 4.85, 5.34),
 (13, 'Illinois', 4.61, 4.62, 4.27, 4.52, 4.61, 4.84, 4.87, 5.25, 5.33, 5.29, 5.07, 5.06, 5.17, 5.39, 5.49),
 (14, 'Indiana', 4.09, 4.04, 4.1, 4.24, 4.23, 4.24, 4.54, 4.75, 4.65, 4.43, 4.61, 4.44, 4.62, 4.95, 4.81),
 (15, 'Iowa', 4.1, 4.1, 4.1, 4.14, 4.34, 4.65, 4.81, 4.89, 5.01, 5.07, 4.9, 5.02, 5.34, 6.02, 5.78),
 (16, 'Kansas', 4.11, 4.14, 4.26, 4.42, 4.11, 4.2, 4.56, 4.85, 4.79, 4.47, 4.61, 4.61, 5.0, 4.78, 5.34),
 (17, 'Kentucky', 3.63, 3.84, 3.68, 3.69, 3.56, 3.67, 3.95, 3.95, 4.11, 4.27, 4.11, 3.99, 4.11, 4.49, 4.28),
 (18, 'Louisiana', 3.07, 3.33, 3.4, 3.35, 3.64, 3.72, 3.65, 4.13, 3.96, 4.54, 3.93, 4.07, 3.91, 4.64, 4.24),
 (19, 'Maine', 3.73, 3.66, 3.69, 3.71, 4.13, 4.39, 4.56, 4.79, 4.72, 4.75, 4.79, 4.97, 4.92, 5.5, 5.17),
 (20, 'Maryland', 5.45, 5.35, 5.64, 5.23, 5.71, 6.05, 6.37, 6.56, 6.37, 6.42, 6.42, 6.89, 7.18, 6.94, 7.62),
 (21, 'Massachusetts', 4.68, 5.23, 4.99, 5.1, 5.2, 5.6, 5.53, 5.85, 6.03, 5.94, 6.09, 6.33, 6.37, 6.25, 6.32),
 (22, 'Michigan', 4.55, 4.5, 4.27, 4.5, 4.23, 4.59, 4.86, 4.94, 4.98, 4.6, 4.63, 4.89, 5.0, 5.66, 5.2),
 (23, 'Minnesota', 5.43, 5.27, 5.46, 5.28, 5.61, 5.42, 5.62, 5.81, 5.49, 5.61, 5.23, 5.78, 6.18, 6.43, 6.72),
 (24, 'Mississippi', 3.43, 3.02, 3.09, 3.27, 3.48, 3.29, 3.47, 3.73, 3.64, 3.51, 3.82, 4.11, 3.66, 3.23, 3.55),
 (25, 'Missouri', 4.51, 4.13, 4.28, 4.38, 4.21, 4.3, 4.46, 4.6, 4.6, 4.88, 4.58, 4.58, 4.98, 4.63, 5.66),
 (26, 'Montana', 3.28, 3.21, 3.48, 3.41, 3.4, 3.73, 4.11, 4.37, 4.29, 4.04, 4.13, 4.03, 4.51, 4.32, 5.11),
 (27, 'Nebraska', 4.18, 4.36, 4.28, 4.4, 4.38, 4.79, 4.81, 4.92, 5.07, 4.96, 5.25, 5.56, 5.22, 5.76, 5.69),
 (28, 'Nevada', 4.58, 4.54, 4.5, 4.52, 4.72, 4.82, 5.23, 5.41, 5.47, 5.14, 5.12, 4.7, 4.73, 5.18, 4.99),
 (29, 'New Hampshire', 5.09, 5.13, 5.53, 5.56, 5.68, 5.7, 6.2, 6.76, 6.62, 6.41, 6.66, 6.59, 6.78, 6.91, 7.34),
 (30, 'New Jersey', 5.04, 5.18, 5.46, 5.6, 5.53, 6.34, 6.81, 6.05, 6.53, 6.48, 6.3, 6.23, 6.67, 6.38, 6.52),
 (31, 'New Mexico', 3.51, 3.31, 3.55, 3.51, 3.96, 3.89, 4.0, 4.44, 4.21, 4.35, 4.51, 4.2, 4.34, 4.02, 4.67),
 (32, 'New York', 4.07, 4.21, 4.2, 4.28, 4.46, 4.72, 4.82, 4.89, 5.05, 5.02, 4.98, 5.06, 4.77, 5.0, 5.43),
 (33, 'North Carolina', 3.83, 3.82, 3.65, 3.73, 4.02, 4.21, 3.98, 4.35, 4.29, 4.19, 4.38, 4.52, 4.16, 4.63, 4.68),
 (34, 'North Dakota', 3.6, 3.58, 3.62, 4.04, 3.92, 4.22, 4.1, 4.72, 4.96, 5.01, 5.1, 5.64, 5.58, 5.92, 6.07),
 (35, 'Ohio', 4.3, 4.18, 4.27, 4.35, 4.31, 4.42, 4.59, 4.91, 4.69, 4.59, 4.59, 4.46, 4.44, 5.07, 4.96),
 (36, 'Oklahoma', 3.24, 3.56, 3.65, 3.59, 3.96, 3.76, 3.88, 4.32, 4.61, 4.59, 4.31, 4.85, 4.84, 4.62, 4.72),
 (37, 'Oregon', 4.25, 4.13, 4.18, 4.16, 4.1, 4.42, 4.71, 5.02, 5.17, 4.91, 5.06, 5.15, 5.18, 4.9, 5.89),
 (38, 'Pennsylvania', 4.22, 4.35, 4.25, 4.29, 4.41, 4.63, 4.85, 4.84, 5.14, 4.82, 4.83, 4.99, 5.19, 5.52, 5.52),
 (39, 'Rhode Island', 4.22, 4.57, 4.24, 4.47, 4.79, 4.95, 5.37, 5.42, 5.32, 5.16, 5.16, 4.9, 5.61, 5.63, 5.86),
 (40, 'South Carolina', 3.76, 3.77, 3.78, 3.85, 3.87, 4.02, 3.96, 4.42, 4.22, 4.11, 4.17, 4.01, 4.44, 4.36, 4.49),
 (41, 'South Dakota', 3.65, 3.97, 3.79, 3.95, 4.11, 4.32, 4.54, 4.64, 5.16, 4.58, 4.54, 4.72, 4.94, 5.34, 5.31),
 (42, 'Tennessee', 3.41, 3.58, 3.7, 3.75, 3.81, 3.94, 4.07, 4.12, 3.97, 4.05, 3.86, 4.23, 4.3, 4.34, 4.37),
 (43, 'Texas', 3.86, 4.09, 4.01, 3.93, 4.14, 4.14, 4.33, 4.61, 4.65, 4.75, 4.73, 4.9, 5.19, 5.14, 5.39),
 (44, 'Utah', 4.76, 4.73, 4.79, 4.93, 5.09, 5.48, 5.46, 5.35, 6.25, 5.85, 5.67, 5.55, 5.83, 6.1, 6.34),
 (45, 'Vermont', 3.96, 4.08, 4.3, 4.33, 4.73, 5.07, 5.2, 4.74, 5.07, 5.23, 5.59, 5.19, 5.56, 6.55, 6.07),
 (46, 'Virginia', 4.72, 5.02, 4.96, 5.48, 5.11, 5.19, 5.71, 5.92, 6.2, 6.05, 6.04, 6.26, 6.46, 6.59, 6.62),
 (47, 'Washington', 4.25, 4.25, 4.52, 4.75, 4.99, 5.06, 5.47, 5.81, 5.66, 6.04, 5.62, 5.69, 6.22, 6.39, 5.91),
 (48, 'West Virginia', 2.94, 2.97, 2.94, 3.28, 3.34, 3.64, 3.84, 4.21, 3.8, 4.05, 4.28, 4.18, 4.36, 4.31, 3.96),
 (49, 'Wisconsin', 4.51, 4.53, 4.59, 4.63, 4.57, 4.47, 5.17, 5.13, 5.12, 5.12, 5.04, 5.21, 5.31, 5.17, 5.81),
 (50, 'Wyoming', 3.96, 3.97, 3.98, 4.26, 4.54, 4.47, 4.7, 4.87, 5.33, 5.25, 5.22, 5.45, 5.75, 6.74, 5.57)]

In [17]:
# Convert the index to primiary key
def get_create_table_string(tablename, connection):
    sql = """
    select * from sqlite_master where name = "{}" and type = "table"
    """.format(tablename) 
    result = connection.execute(sql)

    create_table_string = result.fetchmany()[0][4]
    return create_table_string

def add_pk_to_create_table_string(create_table_string, colname):
    regex = "(\n.+{}[^,]+)(,)".format(colname)
    return re.sub(regex, "\\1 PRIMARY KEY,",  create_table_string, count=1)

def add_pk_to_sqlite_table(tablename, index_column, connection):
    cts = get_create_table_string(tablename, connection)
    cts = add_pk_to_create_table_string(cts, index_column)
    template = """
    BEGIN TRANSACTION;
        ALTER TABLE {tablename} RENAME TO {tablename}_old_;

        {cts};

        INSERT INTO {tablename} SELECT * FROM {tablename}_old_;

        DROP TABLE {tablename}_old_;

    COMMIT TRANSACTION;
    """

    create_and_drop_sql = template.format(tablename = tablename, cts = cts)
    connection.executescript(create_and_drop_sql)

In [18]:
con = sqlite3.connect("../db/crime-rate.sqlite")

In [19]:
add_pk_to_sqlite_table('crime_rates', 'index', con)

In [20]:
add_pk_to_sqlite_table('income_rates', 'index', con)